/* Prince does not support WOFF fonts. */

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/chinese/simsun.ttc")
}

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/chinese/simhei.ttf")
}

@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    src: url("../../fonts/chinese/simsun.ttc")
}

@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    src: url("../../fonts/chinese/simhei.ttf")
}

@font-face {
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/chinese/simsun.ttc")
}

@font-face {
    font-family: serif;
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/chinese/simhei.ttf")
}

@font-face {
    font-family: serif;
    font-style: italic;
    font-weight: normal;
    src: url("../../fonts/chinese/simsun.ttc")
}

@font-face {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    src: url("../../fonts/chinese/simhei.ttf")
}

@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/dejavu/DejaVuSansMono-webfont.ttf")
}

@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/dejavu/DejaVuSansMono-Bold-webfont.ttf")
}

@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: normal;
    src: url("../../fonts/dejavu/DejaVuSansMono-Oblique-webfont.ttf")
}

@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    src: url("../../fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.ttf")
}

